# AUTHOR : JITESH SHELKE

# FOR LOOP

In [2]:
# 1. Basic For Loop

for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [4]:
# 2. Loop Through a List

ls=['banana','apple','mango']
for i in ls:
    print(i)

banana
apple
mango

In [12]:
# 3. Loop Through a Dictionary

dictt={'one':10,'two':20,'three':30}

for i in dictt.keys():    #only gievs keys
    print(i)
print('\n')
for i in dictt.values():  # only gives values 
    print(i)
print('\n')
for i in dictt.items():   #give both key and value
    print(i)

one
two
three


10
20
30


('one', 10)
('two', 20)
('three', 30)

In [13]:
# 4. Using enumerate()

for i in enumerate(range(10,20)): #pair of index number with value
    print(i)

(0, 10)
(1, 11)
(2, 12)
(3, 13)
(4, 14)
(5, 15)
(6, 16)
(7, 17)
(8, 18)
(9, 19)

In [32]:
# 5. Nested For Loop

for i in range(3):
    for j in range(3):
        print(i,j)

0 0
0 1
0 2
1 0
1 1
1 2
2 0
2 1
2 2

In [25]:
# 6. For Loop with break and continue

for i in range(10):
    if i==5:         # skip 5 number
        continue
    if i==8:         # break loop if i==8
        break
    print(i)

0
1
2
3
4
6
7

In [33]:
# 7. Looping Through a String

for i in "python":
    print(i)

p
y
t
h
o
n

In [38]:
# 8. Creating a Pattern

row=5
for i in range(1,row):
    print( "*" * i)

*
**
***
****

In [40]:
# 9. List Comprehension Alternative

ls=[i**2 for i in range(1,10)]
print(ls)

[1, 4, 9, 16, 25, 36, 49, 64, 81]

# PRACTICE QUESTIONS

0 WAP TO PRINT TABLE FOR USING GIVE NUMBER

1 WAP TO PRINT ALL THE CHAR OF A GIVEN 

2 WAP TO SEGREGATE THE VALUE FROM 1-50 INTO EVEN AND ODD NUMBERS INTO LIST

3 WAP TO EXTRACT VOWELS AND DIGITS FROM A GIVEN STRING

4 WAP TO CAPIALIZZE ONLY THE FIRST LETTER OF EVERY WORD IN THE GIVEN LIST

5 WAP TO EXTRACT ONLY INDIVIDUAL DATA TYPE FROM THE LIST

6 WAP TO EXTRACT ONLY COLLECTION DATA TYPES FROM GIVEN LIST

7 WAP TO EXTRACT ONLY THE INDIVIDUAL DATATYPES FROM THE LIST AND SUM OF ALL THE INDIVIDUAL DATATYPES

8 WAP TO PRINT THE COUNT OF ALPHABETS AND NUMNBER AND SPACE IN THE GIVEN STRING

9 WAP TO CHECK HOW MANY WORDS WORDS ARE PRESENT IN THW GIVEN SENETECE

10 WAP TO CREATE A DICT AND PRINT THE CHARACTERS AND ITS ASCII VALUE PAIR

11 WAP TO CREATE A DICT AND TRAVERESE INTO IT AND IF THE LENGTH IS EVEN PRINT AS IT ELSE REVERSE IT

12 WAP TO FIND THE FACTORIAL OF A NUMBER GIVEN BY USER

13 Write a Python program that counts how many times each color appears in the list and stores the counts in a dictionary, where the keys are the 
colors and the values are their counts.

14 WAP TO FIND THE SUM OF ALL NUMBERS PRESENT INSIDE A GIVEN STRING

15 WAP TO PRINT THE EVEN POSITIONAL CHARACTES FROM A GIVEN STRING USING FOR LOOP

16 WAP TO FIND LENGTH OF A STRING WITHOUR USINF LENGTH FUUNCTION

17 WAP TO COUNT THE OCCURANCES OF ALL THE CHARACTES PRESENT INSIDE THE GIVEN STRING

18 WAP TO REMOVE THE DUPLICATES FROM A LIST TAKEN BY USER

In [2]:
num=2
for i in range(1,11):
    print(i*num)

2
4
6
8
10
12
14
16
18
20

In [3]:
# 2 WAP TO SEGREGATE THE VALUE FROM 1-50 INTO EVEN AND ODD NUMBERS INTO LIST

even=[]
odd=[]
for i in range(1,51):
    if i%2==0:
        even.append(i)
    else:
        odd.append(i)
print(even)
print(odd)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50]
[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49]

In [5]:
# 3 WAP TO EXTRACT VOWELS AND DIGITS FROM A GIVEN STRING

strr="my name is jitesh shelke my mobile number is 9137848238"

vowels=[]
digit=[]
for i in strr:
    if i in "aeiou":
        vowels.append(i)
    elif i in "1234567890":
        digit.append(i)
    else:
        pass
print(vowels)
print(digit)

['a', 'e', 'i', 'i', 'e', 'e', 'e', 'o', 'i', 'e', 'u', 'e', 'i']
['9', '1', '3', '7', '8', '4', '8', '2', '3', '8']

In [11]:
# 4 WAP TO CAPIALIZZE ONLY THE FIRST LETTER OF EVERY WORD IN THE GIVEN LIST

ls=['banana','apple','mango']

for i in ls:
    print(i[0].capitalize()+i[1:len(i)])

Banana
Apple
Mango

In [14]:
# 5 WAP TO EXTRACT ONLY INDIVIDUAL DATA TYPE FROM THE LIST

ls=[10,20,True,False,10+20j,'master',(10,20,30),{10:100,20:200}]

for i in ls:
    if isinstance(i,(int,float,bool,complex)):
        print(i)

10
20
True
False
(10+20j)

In [15]:
# 6 WAP TO EXTRACT ONLY COLLECTION DATA TYPES FROM GIVEN LIST

ls=[10,20,True,False,10+20j,'master',(10,20,30),{10:100,20:200}]

for i in ls:
    if isinstance(i,(str,list,set,tuple,dict)):
        print(i)

master
(10, 20, 30)
{10: 100, 20: 200}

In [16]:
# 7 WAP TO EXTRACT ONLY THE INDIVIDUAL DATATYPES FROM THE LIST AND SUM OF ALL THE INDIVIDUAL DATATYPES

sum=0
for i in ls:
    if isinstance(i,(int,float,bool,complex)):
        sum+=i
print(sum)

(41+20j)

In [29]:
# 8 WAP TO PRINT THE COUNT OF ALPHABETS AND NUMNBER AND SPACE IN THE GIVEN STRING

strr="my name is jitesh shelke my  & mobile number is 9137848238"

alpha=0
num=0
space=0

for i in strr:
    if i in "1234567890":
        num+=1
    elif i in "qwertyuiopasdfghjklzxcvbnmQWERTYUIOPASDFGHJKLZXCVBNM":
        alpha+=1
    elif i in " ":
        space+=1
    else:
        # print(i , "this is special char")
        pass
        
print("number present is string   " , num)
print("alphabets present is string" , alpha)
print("spaces present is string   " , space)

number present is string    10
alphabets present is string 36
spaces present is string    11

In [4]:
# 9 WAP TO CHECK HOW MANY WORDS WORDS ARE PRESENT IN THW GIVEN SENETECE

strr="my name is suraj"
sum=0
for i in strr:
    sum+=1
print(sum)

16

In [16]:
# 10 WAP TO CREATE A DICT AND PRINT THE CHARACTERS AND ITS ASCII VALUE PAIR

strr="banana"

dictt={}
for i in strr:
    dictt[i]=ord(i)
print(dictt)

{'b': 98, 'a': 97, 'n': 110}

In [19]:
# 12 WAP TO FIND THE FACTORIAL OF A NUMBER GIVEN BY USER

num=10
sum=1
for i in range(1,num+1):
    sum*=i
print(sum)

3628800

In [20]:
# 13 Write a Python program that counts how many times each color appears 
# in the list and stores the counts in a dictionary, 
# where the keys are the colors and the values are their counts.

ls=['yellow','red','yellow','red','blue','pink']

dictt={}
for i in ls:
    if i in dictt:
        dictt[i]+=1
    else:
        dictt[i]=1
print(dictt)

{'yellow': 2, 'red': 2, 'blue': 1, 'pink': 1}

In [23]:
# 14 WAP TO FIND THE SUM OF ALL NUMBERS PRESENT INSIDE A GIVEN STRING

strr="my name is himanshu 4563728910000000029387465"

sum=0
for i in strr:
    if i in "1234567890":
        sum+=int(i)
print(sum)

89

In [31]:
# 15 WAP TO PRINT THE EVEN POSITIONAL CHARACTES FROM A GIVEN STRING USING FOR LOOP

strr="jitesh"

for i in range(0,len(strr)):
    if i%2==0:
        print(strr[i])
    else:
        pass

j
t
s

In [32]:
# 16 WAP TO FIND LENGTH OF A STRING WITHOUR USINF LENGTH FUUNCTION

strr="jitesh"
sum=0
for i in strr:
    sum+=1
print(sum)

6

In [36]:
# 17 WAP TO COUNT THE OCCURANCES OF ALL THE CHARACTES PRESENT INSIDE THE GIVEN STRING

strr="my name is jitesh shelke"

dictt={}
for i in strr:
    if i in dictt:
        dictt[i]+=1
    else:
        dictt[i]=1
print(dictt)

{'m': 2, 'y': 1, ' ': 4, 'n': 1, 'a': 1, 'e': 4, 'i': 2, 's': 3, 'j': 1, 't': 1, 'h': 2, 'l': 1, 'k': 1}

In [43]:
# 18 WAP TO REMOVE THE DUPLICATES FROM A LIST TAKEN BY USER

ls=eval(input(""))
new_ls=[]
for i in ls:
    if i not in new_ls:
        new_ls.append(i)
    else:
        pass
print(new_ls)

 [10,20,304,204,204]

[10, 20, 304, 204]